<h3>Detalle de usuario</h3>

<div class="data">
  <div>
    <p>
      <strong>Nombre:</strong> {{user?.name}} {{user?.surname}}</p>
    <p>
      <strong>Email:</strong> {{user?.email}}</p>
    <p>
      <strong>Género:</strong> {{user?.gender}}</p>
    <p>
      <strong>Edad:</strong> {{user?.age}}</p>
  </div>
  <div>
    <img src="{{user?.picture}}">
  </div>
</div>

<hr>

<h5>Editar nombre de usuario</h5>

<div class="edit">
  <div class="wrap-form">
    <input type="text" placeholder="Nombre" [(ngModel)]="user.name">
    <input type="text" placeholder="Apellido" [(ngModel)]="user.surname">
    <input type="text" placeholder="Email" [(ngModel)]="user.email">
    <input type="text" placeholder="Género" [(ngModel)]="user.gender">
    <input type="text" placeholder="Edad" [(ngModel)]="user.age">
    <button class="success" (click)="putUser(user)">Guardar</button>
  </div>
</div>

<hr>
<div class="go-back">
  <button class="confirm" (click)="goBack()">Volver al listado de usuarios</button>
</div>